# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/raw/processed/

# Models
# models/
models/fraud_random_forest.pkl

# Environment Variables
.env


.DS_Store